@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,500;1,500&display=swap");
html {
  scroll-behavior: smooth;
  font-family: "Albert Sans", sans-serif;
}

body {
  background-color: #FDF9EF;
}

h1 {
  color: #301B0A;
  font-size: 3rem;
  line-height: 130%;
}

h2 {
  color: #301B0A;
  font-size: 2.375rem;
  line-height: 130%;
}

h3 {
  color: #301B0A;
  font-size: 1.75rem;
  line-height: 130%;
}

h4 {
  color: #301B0A;
  font-size: 1.5rem;
  line-height: 130%;
}

p {
  font-family: Albert Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 32px */
}

@media screen and (max-width: 599px) {
  h1 {
    color: #301B0A;
    font-size: 1.75rem;
    line-height: 130%;
  }
  h2 {
    color: #301B0A;
    font-size: 1.5rem;
    line-height: 130%;
  }
  h3 {
    color: #301B0A;
    font-size: 1.375rem;
    line-height: 130%;
  }
  h4 {
    color: #301B0A;
    font-size: 1.25rem;
    line-height: 130%;
  }
}
@media screen and (max-width: 1239) {
  h1 {
    font-size: 2.25rem;
    line-height: 130%;
  }
  h2 {
    font-size: 1.875rem;
    line-height: 130%;
  }
  h3 {
    font-size: 1.433rem;
    line-height: 130%;
  }
  h4 {
    font-size: 1.375rem;
    line-height: 130%;
  }
}
header {
  display: flex;
  padding: 48px 100px;
  justify-content: space-between;
  align-items: center;
}

.custom-list {
  list-style-type: none;
  padding: 0;
}

.custom-list li {
  width: 373px;
  padding: 18px 16px 18px 68px;
  align-items: center;
  margin-top: -2px;
  gap: 16px;
  border-top: 2px solid #301B0A;
  border-bottom: 2px solid #301B0A;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.custom-list li::before {
  content: url(../public/images/arrow-internal-link.svg);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.custom-list li span {
  flex: 1;
}

.custom-list li:hover {
  background-color: #301B0A;
  color: #FDF9EF;
}

.custom-list li:hover::before {
  left: calc(100% - 24px - 16px);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
}

.btn {
  display: flex;
  padding: 16px 32px;
  border-radius: 16px;
  background: #301B0A;
  border: 2px solid #301B0A;
  align-items: center;
  gap: 8px;
  color: #FDF9EF;
}

.btn:hover {
  border: 2px solid #301B0A;
  background-color: #FDF9EF;
}

.btn:focus:active {
  display: inline-flex;
  padding: 4px;
  border-radius: 20px;
  border: 2px solid var(--primary-black, #301B0A);
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.hero-wrapper {
  position: relative;
  top: -130px;
  left: 156px;
  width: 530px;
  padding: 60px 60px 0px 60px;
  gap: 36px;
  background: #FDF9EF;
}

.hero-list {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  left: 156px;
}


