html {
  scroll-behavior: smooth;
  font-family: "Albert Sans", sans-serif;
}

body {
  background: var(--primary-white, #FDF9EF);
}

section {
  margin: 0 0 100px 0;
}

body {
  background-color: #FDF9EF;
}

header {
  display: flex;
  padding: 48px 100px;
  justify-content: space-between;
  align-items: center;
}


.btn {
  display: flex;
  padding: 16px 32px;
  border-radius: 16px;
  background: #301B0A;
  border: 2px solid #301B0A;
  align-items: center;
  gap: 8px;
  color: #FDF9EF;
}

.btn:hover {
  border: 2px solid #301B0A;
  background-color: #FDF9EF;
}

.btn:focus:active {
  display: inline-flex;
  padding: 4px;
  border-radius: 20px;
  border: 2px solid var(--primary-black, #301B0A);
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}


