#news {
    .container{
        margin-top: 36px;
    }
    .row {
    display: flex;
    align-items: flex-start;
    gap: 36px;
    }
    .card-news{
    display: flex;
    align-self: stretch;
    width: 390px;
    padding: 36px;
    gap:36px;
    background: var(--secondary-beige-200, #F6E7C3);
    flex-direction: column;
    align-items: flex-start;
    }
    .btn-secondary{
        border-radius: 16px;
        border: 2px solid var(--primary-black, #301B0A);
        background-color: transparent;
        color: var(--primary-black, #301B0A);
    }
}