
    $primary-white: #FDF9EF;
    $primary-black: #301B0A;
    $secondary-green-100: #EAF0D3;
    $secondary-green-200: #D0E0AF;
    $secondary-green-300: #B7CA90;
    $secondary-green-500: #99B06A;
    $secondary-beige-100: #FAEFD6;
    $secondary-beige-200: #F6E7C3;
    $secondary-beige-300: #DCCBA2;
    $secondary-beige-500: #C5B181;